<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.atlasv.android.music.music_player">

    <application>
        <service
            android:name=".service.MediaPlaybackService"
            android:enabled="true"
            android:exported="false"
            tools:ignore="ExportedService">

            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>
    </application>
</manifest>
